@for $hue from 0 to 360 {
    .hue--#{$hue} { --hue: #{$hue}; --rot: #{$hue}deg; }
}
@for $sat from 0 through 100 {
    .sat--#{$sat} { --sat: #{percentage($number: $sat / 100)}; --trans: #{$sat}; }
}
@for $lig from 0 through 100 {
    .lig--#{$lig} { --lig: #{percentage($number: $lig / 100)}; }
}

@each $level in primary, secondary, tertiary {
    .hue--#{$level}--complementary { --hue: calc(var(--#{$level}-hue) + 180); }

    .hue--#{$level}--triadic--plus { --hue: calc(var(--#{$level}-hue) + var(--triadic)); }
    .hue--#{$level}--triadic--minus { --hue: calc(var(--#{$level}-hue) - var(--triadic)); }

    @each $field in hue, sat, lig {
        .#{$field} {
            &--#{$level} { --#{$field}: var(--#{$level}-#{$field}); }
            &--#{$level}--alt { --#{$field}: var(--#{$level}-alt-#{$field}); }
        }
    }
}

.hue {
    &:not(.sat):not(.lig) { background-color: hsl(var(--hue), 50%, 50%); }
    &.sat:not(.lig) { background-color: hsl(var(--hue), var(--sat), 50%); }
    &:not(.sat).lig { background-color: hsl(var(--hue), 50%, var(--lig)); }
    &.sat.lig { background-color: hsl(var(--hue), var(--sat), var(--lig)); }
}

.strip, .neighbors, .complement, .triads, .compound {
    span[role="button"] {
        height: 5px;
    }

    &__picker {
        &__line {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
        }
    }
}

.saturation, .lightness {
    &__picker {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;

        span {
            height: 2ch;
        }
    }
}

.wheel {
    --frac: min(1.5vw, 1.5vh);
    --shift: calc(var(--frac) * 5);
    --side: calc(2 * (2em + 20 * var(--frac) + var(--shift)));

    &__picker {
        margin-inline: auto;

        height: var(--side);

        position: relative;
        span[role="button"] {
            height: calc(var(--frac) * 3);
            width: calc(var(--frac) * 3);

            position: absolute;
            top: calc(50% - calc(var(--frac) / 2));
            left: calc(50% - calc(var(--frac) / 2));

            transform: rotateZ(var(--rot)) translateX(calc(var(--shift) + var(--frac) * var(--trans) / 5));
        }
    }
}
