@mixin footer($sm, $md, $lg, $xl) {
    .footer {
        display: flex;
        justify-content: space-between;

        :nth-child(3) {
            display: none;
            @media (min-width: $md) {
                display: initial;
            }
        }
    }
}
