@mixin header($sm, $md, $lg, $xl) {
    .header {
        display: flex;
        justify-content: space-between;

        align-items: center;
        @media (min-width: $md) {
            align-items: baseline end;
        }

        &__brand {
            font-size: var(--size6);
            a { text-decoration: none; }
            img {
                $side: 3ch;
                height: $side;
                width: $side;

                margin-block: .5ch;
            }
        }

        &__content {
            text-align: end;

            &__title {
                font-size: var(--size6);
            }

            &__description {
                font-size: var(--size3);
            }
        }
    }
}
