@mixin not_found() {
    .not_found {
        $side: min(40vh, 40vw);
            display: flex;
            justify-content: center;
            align-items: center;

        &__content {
            display: flex;
            align-items: center;

            span {
                font-size: $side;
                font-weight: bolder;
            }

            img {
                height: $side;
                width: $side;
            }
        }
    }
}
