{% set target = target | default(value = "secondary") | lower %}
{% set alternative = alternative | default(value = "tertiary") | lower %}

<div class="compound flow">
    <div class="compound__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="compound__picker">
        {% for sat in range(end=101, step_by=5) %}
        <div class="compound__picker__line">
            <span role="button" aria-label="Set {{ target }} saturation to {{ sat }}"
                class="hue hue--{{ target }} sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="set{{target|capitalize}}Sat({{sat}})">
            </span>
            <span role="button" aria-label="Flip HUEs and set {{ target }} saturation to {{ sat }}"
                class="hue hue--{{ alternative }} sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="flip(); set{{target|capitalize}}Sat({{sat}})">
            </span>
        </div>
        {% endfor %}
    </div>
</div>
