{% set target = target | default(value = "secondary") | lower %}

<div class="complement flow">
    <div class="complement__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="complement__picker">
        {% for sat in range(end=101, step_by=5) %}
        <div class="complement__picker__line">
            <span role="button" aria-label="Set {{ target }} saturation to {{ sat }}"
                class="hue hue--{{ target }} sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="set{{target|capitalize}}Sat({{sat}})">
            </span>
            <span role="button" aria-label="Flip HUEs and set {{ target }} saturation to {{ sat }}"
                class="hue hue--{{ target }}--complementary sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="flip{{ target | capitalize }}(); set{{target|capitalize}}Sat({{sat}})">
            </span>
        </div>
        {% endfor %}
    </div>
</div>
