{% set target = target | default(value = "primary") | lower %}
{% set alt = alt | default(value = false) %}

<div class="lightness flow">
    <div class="lightness__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="lightness__picker">
        {% for lig in range(end=101) %}
        <span role="button" aria-label="Set {{ target }}{% if alt %} variant{% endif %} lightness to {{ lig }}"
            class="hue hue--{{target}} sat sat--{{target}}{% if alt %}--alt{% endif %} lig lig--{{lig}}"
            onClick="set{{target|capitalize}}{% if alt %}Alt{% endif %}Lig({{lig}})">
        </span>
        {% endfor %}
    </div>
</div>
