{% set target = target | default(value = "primary") | lower %}
{% set alt = alt | default(value = false) %}

<div class="saturation flow">
    <div class="saturation__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="saturation__picker">
        {% for sat in range(end=101) %}
        <span role="button" aria-label="Set {{ target }}{% if alt %} variant{% endif %} saturation to {{ sat }}"
            class="hue hue--{{target}} sat sat--{{sat}} lig lig--{{ target }}{% if alt %}--alt{% endif %}"
            onClick="set{{target|capitalize}}{% if alt %}Alt{% endif %}Sat({{sat}})">
        </span>
        {% endfor %}
    </div>
</div>
