{% set target = target | default(value = "primary") | capitalize %}

<div class="strip flow">
    <div class="strip__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="strip__picker">
        {% for sat in range(end=101, step_by=5) %}
        <div class="strip__picker__line">
            {% for hue in range(end=360, step_by=6) %}
            <span role="button" aria-label="Set {{ target }} HUE to {{ hue }} and saturation to {{ sat }}"
                class="hue hue--{{hue}} sat sat--{{sat}}"
                onClick="set{{target}}Hue({{hue}}); set{{target}}Sat({{sat}});">
            </span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
