{% set target = target | default(value = "secondary") | lower %}

<div class="triads flow">
    <div class="triads__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="triads__picker">
        {% for sat in range(end=101, step_by=5) %}
        <div class="triads__picker__line">
            <span role="button" aria-label="Set {{ target }} saturation to {{ sat }}"
                class="hue hue--primary--triadic--plus sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="setSecondarySat({{sat}})">
            </span>
            <span role="button" aria-label="Flip HUEs and set {{ target }} saturation to {{ sat }}"
                class="hue hue--primary--triadic--minus sat sat--{{ sat }} lig lig--{{ target }}"
                onClick="flip(); setSecondarySat({{sat}})">
            </span>
        </div>
        {% endfor %}
    </div>
</div>
