{% set target = target | default(value = "primary") | capitalize %}

<div class="wheel flow">
    <div class="wheel__content">
        {{ body | markdown() | safe }}
    </div>
    <div class="wheel__picker">
        {% for hue in range(end=360, step_by=6) | reverse %}
        {% for sat in range(end=101, step_by=5) | reverse %}
        <span role="button" aria-label="Set {{ target }} HUE to {{ hue }} and saturation to {{ sat }}"
            class="hue hue--{{ hue }} sat sat--{{ sat }}"
            onClick="set{{target}}Hue({{hue}}); set{{target}}Sat({{sat}});">
        </span>
        {% endfor %}
        {% endfor %}
    </div>
</div>
