@use "picker" as *;

@mixin themes() {
    :root {
        --primary: hsl(var(--primary-hue) var(--primary-sat) var(--primary-lig));
        --primary-alt: hsl(var(--primary-hue) var(--primary-alt-sat) var(--primary-alt-lig));

        --secondary: hsl(var(--secondary-hue) var(--secondary-sat) var(--secondary-lig));
        --secondary-alt: hsl(var(--secondary-hue) var(--secondary-alt-sat) var(--secondary-alt-lig));

        --tertiary: hsl(var(--tertiary-hue) var(--tertiary-sat) var(--tertiary-lig));

        background-color: var(--primary);
        header, nav, footer, input {
            background-color: var(--primary-alt);
            color: var(--secondary-alt);
        }

        color: var(--secondary);

        accent-color: var(--tertiary);
        a, code { color: var(--tertiary); }
    }

    @include picker();

    input {
        &:not([type]), &[type="text"], &[type="password"] {
            border: none;
            outline: none;

            &:focus {
                border-bottom: 3px solid var(--tertiary);
            }
        }
    }
}
