@mixin -line() {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

@mixin -column() {
    padding-block: var(--padding);
    display: flex;
    flex-direction: column;
}

@mixin picker() {
    @each $level in primary, secondary, tertiary {
        .#{$level} {
            @include -column();

            &__hue {
                @include -line();

                &__picker {
                    @for $hue from 0 to 360 {
                        &--#{$hue} {
                            background-color: hsl($hue 50% 50%);
                        }
                    }

                    &--left {
                        background-color: hsl(calc(var(--primary-hue) - 30) var(--tertiary-sat) var(--tertiary-lig));
                    }

                    &--right {
                        background-color: hsl(calc(var(--primary-hue) + 30) var(--tertiary-sat) var(--tertiary-lig));
                    }
                }
            }

            &__sat {
                @include -line();

                &__picker {
                    @for $sat from 0 through 100 {
                        &--#{$sat} {
                            background-color: hsl(var(--#{$level}-hue) percentage($number: $sat / 100) var(--#{$level}-lig));
                        }
                    }
                }
            }

            &__lig {
                @include -line();

                &__picker {
                    @for $lig from 0 through 100 {
                        &--#{$lig} {
                            background-color: hsl(var(--#{$level}-hue) var(--#{$level}-sat) percentage($number: $lig / 100));
                        }
                    }
                }
            }

            &__alt {
                &__sat {
                    @include -line();

                    &__picker {
                        @for $sat from 0 through 100 {
                            &--#{$sat} {
                                background-color: hsl(var(--#{$level}-hue) percentage($number: $sat / 100) var(--#{$level}-alt-lig));
                            }
                        }
                    }
                }

                &__lig {
                    @include -line();

                    &__picker {
                        @for $lig from 0 through 100 {
                            &--#{$lig} {
                                background-color: hsl(var(--#{$level}-hue) var(--#{$level}-alt-sat) percentage($number: $lig / 100));
                            }
                        }
                    }
                }
            }
        }
    }
}
