{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block main %}
<div class="not_found">
    <div class="not_found__content">
        <span>4</span>
        <img src="{{ get_url(path = '404.png') | safe }}" alt="{{ config.title | safe }}" />
        <span>4</span>
    </div>
</div>
{% endblock main %}
