{# vim: set filetype=html: #}

{% import "macros/head.html" as head %}

{% set index = "_index" %}
{% if lang != config.default_language %}
{% set index = index ~ "." ~ lang %}
{% endif %}
{% set root = get_section(path=index ~ ".md") %}

<!DOCTYPE HTML>

<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ get_url(path = config.extra.favicon) | safe }}">

    {% block title %}
    {{ head::title(title = config.title) }}
    {% endblock title %}

    {% block description %}
    {{ head::description(description = config.description) }}
    {% endblock description %}

    {% block meta %}
    {% endblock meta %}

    {{ head::styles() }}
    {% block styles %}
    {% endblock styles %}

    <script src="{{ get_url(path = 'scripts/exporter.js') | safe }}"></script>
    <script src="{{ get_url(path = 'scripts/init.js') | safe }}"></script>
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" ignore missing %}
        {% endblock header %}
    </header>

    <nav>
        {% block nav %}
        {% include "nav.html" ignore missing %}
        {% endblock nav %}
    </nav>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        {% block footer %}
        {% include "footer.html" ignore missing %}
        {% endblock footer %}
    </footer>
</body>

{% block scripts %}
{% endblock scripts %}

</html>
