{# vim: set filetype=html: #}

<div class="footer">
    <div class="footer__item">
        Made with&nbsp<a href="https://www.getzola.org" target="_blank">Zola</a>
    </div>
    <div class="footer__item">
        By&nbsp<a href="https://pcoves.gitlab.io" target="_blank">P. COVES</a>
    </div>
    <div class="footer__item">
        <a href="https://gitlab.com/pcoves/rainbow">Source code</a> under <a href="http://www.wtfpl.net/">WTFPL</a>
    </div>
</div>
