{# vim: set filetype=html: #}

<div class="header">
    <div class="header__brand">
        <a href="{{ root.permalink | safe }}">
            {% set data = get_image_metadata(path = config.extra.brand) %}
            {% set image
            = resize_image
            ( path = config.extra.brand
            , width = data.width
            , height = data.height
            , op = "fit"
            , quality = 100
            , format = "webp"
            ) %}
            <img src="{{ image.url | safe }}" alt="{{ config.title | safe }}" />
        </a>
    </div>
    <div class="header__content">
        <div class="header__content__title">
            {{ config.title | markdown(inline = true) | safe }}
        </div>
        <div class="header__content__description">
            {{ config.description | markdown(inline = true) | safe }}
        </div>
    </div>
</div>
