{% set root = get_section(path = "_index.md") %}

<div class="nav">
    {#
    <a href="{{ root.permalink }}">
        {{ root.title | markdown(inline = true) | safe }}
    </a>
    #}

    {% for subsection in root.subsections %}
    {% set subsection = get_section(path=subsection, metadata_only=true) %}

    {% if section and section.path == subsection.path %}
    {% set current = true %}
    {% elif page %}
    {% if page.path is starting_with(subsection.path) %}
    {% set current = true %}
    {% endif %}
    {% else %}
    {% set current = false %}
    {% endif %}

    <div class="nav__item
                {% if current -%} nav__item--current {%- endif %}
                {% if subsection.generate_feed -%} nav__item--feed {%- endif %}
                ">
        <a href="{{ subsection.permalink | safe }}">
            {{- subsection.title | safe -}}
        </a>
    </div>
    {% endfor %}

    {% for subpage in root.pages %}
    <div class="nav__item {% if page and page == subpage -%} nav__item--current {%- endif %}">
        <a href="{{ subpage.permalink | safe }}">
            {{- subpage.title | safe -}}
        </a>
    </div>
    {% endfor %}
</div>
