{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block title %}
{{ head::title(title = page.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = page.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = page) }}
{% endblock meta %}

{% block main %}
<article class="page flow">
    {% block page__header %}
    <header class="page__header">
        <h1>{{ page.title | markdown(inline = true) | safe }}</h1>
    </header>
    {% endblock page__header %}

    {% block content %}
    <section class="content content--page flow">
        {{ page.content | safe }}
    </section>
    {% endblock content %}
</article>
{% endblock main %}

{% block scripts %}
<script>setPrimaryHue(localPrimaryHue);</script>
{% endblock scripts %}
