{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block title %}
{{ head::title(title = section.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = section.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = section) }}
{% endblock meta %}

{% block main %}
<article class="section flow">
    {#
    {% block page__header %}
    <header class="section__header">
        <h1>{{ section.title | markdown(inline = true) | safe }}</h1>
    </header>
    {% endblock section__header %}
    #}

    {% block content %}
    <section class="content content--section flow">
        {{ section.content | safe }}
    </section>
    {% endblock content %}
</article>
{% endblock main %}
